
# Created by https://www.gitignore.io/api/netbeans

### NetBeans ###
SitesDinamicos/nbproject/private/
SitesDinamicos/build/
SitesDinamicos/nbbuild/
SitesDinamicos/dist/
SitesDinamicos/nbdist/
SitesDinamicos/.nb-gradle/

# End of https://www.gitignore.io/api/netbeans
