*{
  position: relative;
  font-family: 'Varela Round';
}
body{
  background: url('img/wallpaper.jpg') center center no-repeat fixed;
  background-position: center;
  background-size: cover;
}
div, .logo > *{
  display: inline-block;
}
.logo{
  width: 100%;
  margin-bottom: 25px;
}
input{
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}
.campo{
  padding-left: 10px;
}
.login, input{
  box-sizing: border-box;
  border-radius: 5px;
}
input:active, input:focus {
    border: 1px solid #F64A4A;
}
.submit{
  background: #ff656c;
  cursor: pointer;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
input:not(.submit){
  margin-bottom: 20px;
}
h1{
  position: relative;
  font-size: 30px;
  text-align: center;
  margin: 0px 0px 0px 30px;
}
p, a{
  text-align: center;
  text-decoration: none;
}
.loginCadastro{
  margin-left: 5%;
  margin-top: 2%;
  padding: 15px 20px 0px 25px;
  width: 90%;
  background-color: #F2EEEE;
  border-top: 5px solid #E56F6F;
}
.imp{
  width: 20% !important;
  margin-top: 20px !important;
}
select{
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}
#uploadImagem{
  padding: 7px 0px;
  font-size: 15px;
}
#centralizarTexto{
  text-align: center;
}