*{
    position: relative;
    font-family: 'Varela Round';
    color: white;
}
body{
    background-position: center;
    background-size: cover;
}
li{
    margin-left: 40px;
    margin-top: 7px;
}
#active{
    background-color: #363636;
    border-radius: 6px;
}
#menu{
    background-color: #1C1C1C;
    background-image:linear-gradient(to bottom, transparent 1px, rgba(0,0,0,.1) 1px);
    margin: 20px;
}
form{
    display: inline-flex;
    margin-top: 12px;
    margin-left: 70px;
}

.search {
    padding: 8px 15px;
    background: rgba(55, 55, 55, 0.8);
    border: 0px solid #dbdbdb;
    color: #FF6EB4;
}
.button {
    position: relative;
    padding: 8px 15px;
    left: -8px;
    border: 2px solid #FF6EB4;
    border-radius: 5px;
    background-color: #DB7093;
    color: #fafafa;
}
.button:hover {
    background-color: #fafafa;
    color: #FF6EB4;
}